

.close-outside-modal {
    background: none;
    border: none;
    position: absolute;
    top: -2.3em;
    left: 30.4em;
}

.close-outside-modal-text {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.modal-background-color {
    background: -webkit-linear-gradient(
    -45deg, #fff, #A9D3FF
    );
}

.modal-content {
    /*height: 800px;*/
    border-radius: 30px;
}

.modal-btn {
    width: 66%;
}

@media screen and (max-width: 767px) {
    .close-outside-modal {
        background: none;
        border: none;
        position: absolute;
        top: -2.7em;
        left: 34.8em;
    }
}

@media screen and (max-width: 575px) {
    .close-outside-modal {
        display: none;
    }
    
    .modal-content {
        height: auto;
        width: 90vw;
        margin: 0 auto;
    }
    
    .modal-btn {
        width: 80%;
        height: 40px;
    }
}


