
input[type="file"], input[type="submit"] {
    display: none;
}
.profile-img {
    min-width: 150px;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.preview-img {
    margin: 0 auto;
}