.landing-page-background {
    background:  linear-gradient(90deg, #d8e7f9 100%, #DDEBFB 0%);
    padding-bottom: 0;
    /*margin-left: -120px;
    margin-right: -120px;
     */
}

.top-container {
    position: relative;
    text-align: center;
    color: white;
}
.top {
    width: 100%;
    height: auto;
}

.top > img {
    width: 100%;
    height: auto;
    align-content: center   ;
}

.top > .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito Sans', serif;
}

.small-size-header-1 {}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container div {
    padding: 0 0 26px 0;
}

.text-container div:last-of-type {
    padding: 0;
}

.text {
    font-size: 16px;
    font-family: 'Nunito Sans', serif;
}


@media screen and (max-width: 519px){
    .top > .centered {
        top: 17%;
    }
    .top > .centered > .small-size-header-1 {
        font-size: 6vw;
        font-weight: bolder;
    }
    .top > .centered > .small-size-header-2 {
        display: none;
    }
}