.card-stack {
    padding: 0 3rem 3rem;
    display: flex;
    gap: 3rem;
}

.card-stack-vertical {
    flex-direction: column;
}
.card-stack-horizontal {
    flex-direction: row;
}

.card-outer-container {
    width: 100%;
    margin: 0 auto;
    background-color: #e3eeff;
    border-radius: 1.25rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 8px 15px 0 rgba(0,0,0,0.19);
}

.card-inner-container {
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    flex: 1;
    padding: 10px 30px;
    box-sizing: border-box;
}

.card-image-container {
    width: 100%;
    height: auto;
    max-height: 100%;
    text-align: center;
}

.card-img {
    height: auto;
    max-width: 500px;
}

.card-text {}


@media screen and (max-width: 992px){
    .card-stack {
        padding: 1.5rem;
        flex-wrap: wrap;
    }
    
    .card-outer-container {
        width: 100%;
        padding: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .card-item {
        flex: 0 0 100%; 
    }
    
    .card-item .card-image-container {
        margin: 0 auto;
        width: auto;
    }
    
    .card-img {
        display: block;
        margin: 0 auto;
    }
}
